@import '../../node_modules/normalize-scss/sass/normalize/import-now';
@import 'variables';
@import 'mixins-media';

:root {
	--bg-black: #202229;
	--bg-gray: #303030;
	--black: #000000;
	--gray-light: #767674;
	--dark-blue: #191a4a;
	--blue: #3e4491;
	--sky-blue: #2f77c6;
	--white: #ffffff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background: var(--bg-black);
}

.header {
	color: var(--white);
	display: flex;
	justify-content: center;
}

.error-404 {
	min-height: 100vh;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}
