.viewed-user {
	font-size: 14px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--blue);
	border: 2px solid var(--black);
	cursor: pointer;
	&__img {
		width: 3.125em;
		height: 3.125em;
	}
	&__login {
		width: 150px;
		text-align: center;
		overflow: hidden;
		margin: 0;
		font-size: 1.2em;
	}
	&__id {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 60px;
	}
	&__delete {
		padding: 5px;
	}
}
