@import '@/styles/mixins-media';

.repositories-item {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--dark-blue);
	border: 3px solid var(--black);
	font-size: 1.2rem;
	text-decoration: none;
	color: var(--white);
	&:not(:last-of-type) {
		margin-bottom: -3px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		width: 60px;
		gap: 5px;
	}
}
